.card-outer {
    border-radius: 0.5rem;
    background: #eee;
}

.hierarchy-card {
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
}

.card-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    gap: 1rem;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.card-header:hover {
    background-color: #ffffffaa;
}

.expand-button {
    margin-right: 0.5rem;
}

.field-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}

.field-item {
    display: flex;
    gap: 0.25rem;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
}

.field-label {
    font-weight: bold;
    color: #706e6b;
}

.field-value {
    color: #181818;
}

/*---------- Field Classes ----------*/
.title {
    font-size: 0.85rem;
    font-weight: 700;
}
.sub-title {
    font-size: 11px;
    font-weight: 300;
}
/*---------- Children ----------*/
.children-container-outer {
    padding: 0.5rem;
}
.children-container {
    border-radius: 1rem;
    background-color: #fff;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

c-wsm_hierarchy_list_child {
    flex-grow: 1;
    flex-basis: 0;
}