.darkmode {
    --slds-g-color-neutral-base-30: #fff;
    --lwc-colorTextLabel: #fff;
    --slds-g-color-neutral-base-10: #fff;
    --lwc-inputStaticColor: #fff;
}
.compact .slds-form-element__label {
    --lwc-spacingXSmall: 0rem;
    --lwc-spacingXxSmall: 0rem;
}

.card-outer {
    border-radius: 0.5rem;
    background: #eee;
}
.card-outer.darkmode {
    border-radius: 0.5rem;
    background: #222222;
}
.card-outer.comfy {
    border-radius: 1rem;
}
.card-outer.compact {
    border-radius: 0.2rem;
}

.hierarchy-card {
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
}

.card-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    gap: 1rem;
    border-radius: 0.5rem;
    transition: 0.2s;
}
.card-header.darkmode {
    color: #fff;
}
.card-header.comfy {
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 1rem;
}
.card-header.compact {
    gap: 0.75rem;
    border-radius: 0.25rem;
}

.card-header:hover {
    background-color: #ffffffaa;
}
.card-header.darkmode:hover {
    background-color: #ffffff22;
}

.expand-button {
    margin-right: 0.5rem;
}

.field-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}

.field-item {
    display: flex;
    gap: 0.25rem;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
}
.field-item.compact {
    gap: 0.2rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
}

.field-label {
    font-weight: bold;
    color: #706e6b;
}

.field-value {
    color: #181818;
}

/*---------- Field Classes ----------*/
.title {
    font-size: 0.85rem;
    font-weight: 700;
}
.sub-title {
    font-size: 11px;
    font-weight: 300;
}

/*---------- Children ----------*/
.children-container-outer {
    padding: 0.5rem;
}
.children-container-outer.compact {
    padding: 0.25rem;
}
.children-container {
    border-radius: 1rem;
    background-color: #fff;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.children-container.darkmode { background-color: #111111;}
.children-container.comfy { padding: 1rem; gap: 1rem; border-radius: 2rem;}
.children-container.compact { padding: 0.2rem; gap: 0.2rem; border-radius: 0.2rem;}

c-wsm_hierarchy_list_child {
    flex-grow: 1;
    flex-basis: 0;
}